@charset "utf-8";
:root{
   
    --color02:#f4b5bd;
    --color03: #ad0808;
    --color04:#cdc08c;
    --color05: #fad77b; 
    --color06:#e6a0c4;
    --color07:#c6cdf7;
    --color08:#d8a499;
    --color09: #7294d4;
    --color10: #FADADB;
}



html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;vertical-align: bottom;}
/* *{
  outline: red 1px solid;
} */

body {
  /* 英語 */
  font-family: 'Work Sans', sans-serif;
  color: #333;
  font-size: 15px;
  letter-spacing: .05em;
  /* color: #f7f1f1; */
}
.br-sp{
  display: none;
}
a {
  transition: opacity .3s;
  text-decoration: none;
  /* color: #1ca9e3; */
}
p{
  /* 日本語 */
  font-family: 'Work Sans', 'Zen Maru Gothic',sans-serif;
color: #333;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {/* 各共通部分背景 */
  padding: 100px 0;
}
.section:nth-of-type(1) {/* about */
  background-color:var(--color07);
}
.section:nth-of-type(2) {/* skill */
  background-color:var(--color06);
}
.section:nth-of-type(3) {/* works */
  background-color:var(--color07);
}
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}
h2.title{
  margin: 0 auto 150px;
  padding-top: 100px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  color: var(--color09);
} 
h2.title>span{/* 日本語部分 */
  font-size: 20px;
  margin: 0 20px;
  font-family: 'Work Sans', 'Zen Maru Gothic',sans-serif;
 
}

span{/* 小文字全て */
  margin: 20px;
  /* background-color: red; */
}
/*--------------------------------
 見出し
---------------------------------*/
/* .title {
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: .05em;
} */


/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0 5px 10px -6px #0000001a;
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: var(--color10);

}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}
/* 
.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
  text-decoration: none !important;
}

.header-logo a {
  color: #ad0808;
  
} */
.header-logo{
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.header-logo>a{
  color: #ad0808;
}
.header-logo::before {
  margin-left: auto;
}

.header-logo::after, .header-logo::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #ad0808;
  display: block;
  transition: 0.5s;
}

button:hover::after, button:hover::before {
  width: 100%;
}



.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #ad0808;
}
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color:var(--color08);
}

.gnav-item a:hover:after {
  width: 100%;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
background-color: var(--color06);
}

.mv-img{
  width: 400px;
  height: 400px;
border-radius: 30px;
margin: 0 auto;

border-radius: 4px;
background: linear-gradient(145deg, #cf90b0, #f6abd2);
box-shadow:  10px 10px 20px #6c2824,
             -10px -10px 20px #fac9c9;
   padding: 20px;           
}
.inner{
width: 300px;
height: 280px;
margin: 0 auto;
  display: flex;
justify-content: center;
align-items: center;
}

.inner>img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 6px 2px #592b0d89;
  text-align: center;
}

.mv-container {
  padding: 20px;
  /* background-color: #fff; */
}

.mv-title {/* portfolio */
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: .2em;
  color: var(--color03);
  padding: 0;


}
.mv-subtitle {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  letter-spacing: .08em;
  color:var(--color03);
  padding: 0;
 
}
.mv-text {
  font-size: 16px;
  line-height: 1.8;
}
/*--------------------------------
 About
---------------------------------*/
.br-sp{
  display: none;
}

.profile{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 200px;
}
h2.title-me{
  margin-bottom: 20px  ;
  padding-top: 100px;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  color: var(--color09);
} 
h2.title-me>span{/* 日本語部分 */
  font-family: 'Work Sans', 'Zen Maru Gothic',sans-serif;
  font-size: 20px;
  margin: 0 20px;
}

.my-name{
  font-size: 18px;
  }
  .my-name>span{
  font-size: 30px;
  } 
.profile-img {/* 写真 */
  width: 400px;
  padding-top: 220px;
}
.profile-img img { 
  box-shadow: 2px 6px 2px #592b0d89;
}
.profile-img img:hover{
  background-color: #c63434;
}
.profile-body {/* ｈ２とテキスト */
  max-width: 500px;
  /* background-color: #fff; */
}

.profile-body p {/* テキスト */
  font-size: 15px;
  line-height: 2.0;
 color: #333;
 /* background-color: #fff; */
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

.history{
  font-family: 'Work Sans', sans-serif;
 margin: 100px auto;
 text-align: center;
 font-size: 40px;
 font-weight: bold;
 color: var(--color09);
}
.history>span{
  font-family: 'Zen Maru Gothic', sans-serif;
font-size:20px ;
margin: 0 40px;
}
/*--------------------------------
 Skill
---------------------------------*/
.skill-icon{
  width: 60px;
  aspect-ratio: 1 / 1;/* 高さを指定 */
  border-radius: 50%;
  border-radius: 50px;
  background: blinear-gradient(145deg, #f6abd2, #cf90b0);
box-shadow:  5px 5px 10px #b8809d,
             -5px -5px 10px #ffc0eb;
  text-align: center;
  margin-right: 30px;

}
.skill-icon>img{

  line-height: 60px;
  align-items: center;
  margin: 0 auto;
  padding: 10px;

}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 10px;
  font-family: 'Zen Maru Gothic', sans-serif;
  color: #fff;
  font-weight: bold;
}

.skill-text {
  font-size: 14px;
  line-height: 1.8;
}



/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px 80px;
}

.works-item {
  width: 40%;
  color: #333;
}

.works-item:hover {
  opacity: .9; 
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}
.works-img{
  max-width: 500px;
  border-radius: 10px;
  background: #c6cdf7;
  box-shadow:  10px 10px 20px #8f95b3,
               -10px -10px 20px #e4ecff; 
               display: flex;
               justify-content: center;
               align-items: center;
}
.works-img>img{
width: 80%;
height: auto;
margin: 20px auto;

}
.works-img img:hover{
box-shadow: 2px 6px 2px #592b0d89;
}
.works-name {/* 作品名 */
  font-size: 22px;
  font-weight:bold;
  margin: 30px 0 20px 40px;
}
.works-info {/* webサイトの制作時間 */
  font-size: 16px;
  margin-left:40px ;
}
/*--------------------------------
 banner　　　　/　　　banner.html
---------------------------------*/
#banner-page{
  background-color:  #f5efef;
padding-bottom: 0;
}
.banner-list{
 max-width: 1000px;
  display: flex;
  margin: 0 auto 80px;
}
.banner-list:last-of-type{
   margin: 0  auto  ;
   padding-bottom: 100px;
 }

.banner-box,.banner-image{/* usen,HAKU,Redalとsweet */
  width: 360px;
  height: 360px;
  text-align: center;
margin: 10px auto;
/* background-color: #aa3737; */
  border-radius: 10px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;                             
}

.banner-img>img{/* usen,HAKU,Redalのimg */
  width: 300px;
  height: 250px; 
  margin: 20px auto;
}
.banner-sp>img{
  max-width: 320px;
  }

.banner-images{/* おせち、クレジット、母の日 */
  width: 360px;
  height: 360px;
  margin: 10px auto;
display: flex;
justify-content: center;/* 真ん中にする */
align-items: center;
/* background-color: #ec3a3a; */
  border-radius: 10px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;    
}
.banner-images>img{
  max-width: 300px;
  height: 250px; 
  margin: 20px auto;
}

.banner-image{/* sweetbox */
width: 360px;
height: 360px;
}  
.banner-image>img{
  max-width: 300px;
  height: 300px; 
  margin: 20px auto;

}
.banner-name{/* バナーテキスト枠全体 */
  height: 360px;
  width: 500px; 
  padding: 0 30px;
}

.banner-name>h3{/* 作品名 */
  margin:  30px;
  font-family: 'Work Sans', 'Zen Maru Gothic',sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.banner-info{/* バナー横ポイント説明文 */
  max-width:500px; 
  /* margin-bottom: 30px; */
  padding: 30px ;
  font-size: 14px;
  line-height: 1.8;
}
.size{
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 16px; 
  color: #666;
}
.works-bn{/* 制作時間とスキル */
  padding-left: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #666;
}

.link{ /* URL */
  width: 200px;
  margin-left: 50%;
  text-align: center;
}

.link:hover{
font-weight: bold;
font-size: 16px;
}
.link>a{
display: block;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}
/*--------------------------------
 フッター
---------------------------------*/
 /***追従するトップへ戻るボタン***/
 #page-top {
  position: fixed;
  right: 5px;
  bottom: 40px;
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  transform: rotate(90deg);
  font-size: 90%;
  line-height: 1.5rem;
  color: #737373;
  padding: 0 0 0 35px;
  border-top: solid 1px;
}
#page-top::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0px;
  width: 15px;
  border-top: solid 1px;
  transform: rotate(35deg);
  transform-origin: left top;
}
/***トップへ戻るボタンここまで***/

.footer {
 height: 120px;
  background-color:var(--color06);
}

.copyright,.contact-item {
  font-size: 14px;
  color: #333;
  text-align: center;
  line-height: 120px;
  font-family: 'Work Sans', 'Zen Maru Gothic',sans-serif;
}

.lead,.contact-list{/* お問い合わせ部分 */
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}
/*--------------------------------
 各Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Zen Maru Gothic', sans-serif;

}

.article-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.article-body {
  max-width: 720px;
  margin: 0 auto 100px;

  margin-bottom: 80px;
  font-family:   'Work Sans', 'Zen Maru Gothic', sans-serif;
}
.article-body img{
 box-shadow:  0 2px 6px 2px #403e3d89; 
margin: 100px auto;
}
.gif{
text-align: center;
}
.article-body h3 {
  position: relative;
  font-size: 20px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color:#c3e8f6;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
  font-family:'Work Sans', 'Zen Maru Gothic',sans-serif;
}
.contact-item{
line-height: 2.0;
}
.home-link {
  text-align: center;
}
/*--------------------------------
 ボタン
---------------------------------*/
.g-btn{
text-align: right;
margin: 0 60px 200px 0;
}
.gallary {
 padding: 0.4em 2.6em;/* 中の空間 */
background-color: #b3e2f85f;/* 透明度を下げる */
border-radius: 70px;
transition: all .3s;/* ? */
color:  #1c74c7;
border: solid 6px  #1c74c7;
box-shadow: 1px 8px 2px  #4d4b5c,
  1px 3px 8px #3b3b3ccc inset;
}

.gallary:hover
 {
  background-color: #ffffff3c;
 box-shadow: inset 4px 4px 12px #302f2f,
             inset -4px -4px 12px #ffffff;
}

.gallary a{
  font-size: 18px;
  text-decoration: none;
  text-shadow:  -4px -4px 12px #ffffff,0 3px 3px #4e4e4f;
  font-weight: bold;
  color: #1c74c7; 
  font-family: 'Alexandria', sans-serif;
}




#works-page{
text-align: center;
padding:  100px 0;
margin: 0 auto;
}
/* ボタン２ */
.link {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #ffffff;
  border: 1px solid #e8e8e8e0;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
 }
 
 .link:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
 }

/*media Queries 420
----------------------------------------------------*/
@media screen and (max-width: 420px) {
/* *{
  outline: #6ad1d1 solid 1px;
} */
  body {
    font-size: 14px;

  }
.br-pc{
  display: none;
}
.br-sp{
  display: block;
}
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  /* 見出し */
  
  h2.title{
    width: 200px;
    text-align: center; 
    font-size: 26px;
    margin-bottom: 30px;  
    padding-top: 50px;
    /* background-color: #fff; */
  }
  
  h2.title>span{
    display: block;
    margin: 10px;

  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト：ナブ以外全て */
  .wrapper {
    padding-top: 57px;
    max-width: 400px;
    margin: 0 auto;
  }
  .section {
    margin: 0 auto;
  }
  .container {/* sectionの中 */
    padding: 0 ;
   margin: 0 auto;
   max-width: 400px;
    /* background-color:red; */
  }

  /* ヘッダー */
.header{
max-width: 400px;
 margin: 0 auto;
 /* background-color: #fff; */
} 

  .header .container {
    padding: 15px 10px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 80vh;
    margin: 0 auto;
   
  }
.mv-img{
  width: 360px;
  height: 360px;
}
  .mv-container {
    padding: 0 20px;
  }
.inner{
height:250px ;
}
  .mv-title {
    font-size: 20px;
    margin-bottom:10px;
  }
  .mv-subtitle {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .mv-text {
    font-size: 14px;
    line-height: 1.7;
  }

  /* About */
 

  h2.title-me>span{
    font-size: 16px;
  }
  .profile {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;

    /* background-color: #86bfe4; */
  }
  .profile-img {
    width: 100%;
    margin: 0 auto 25px;
  padding-top: 50px;
  }
  .profile-body{
    margin: 0 auto;
    /* background-color: #fff; */
  }
  .profile-body p {
    font-size: 14px;
    line-height: 2.0;
    margin: 20px auto;
    /* background-color: #fff; */
  
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }
  .my-name{
  letter-spacing: 0.4em;  
  }
  
  



  /* Works */
  .works-name {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .works-list {
    display: block;
    /* background-color: #1ca9e3; */
    margin: 0 auto;
    width: 90%;
  }

  /* .works-item {
    background-color: #d8f0f9;
  } */
.works-info{
  font-size: 16px;
  margin-bottom: 100px;
  /* background-color: #1ca9e3; */
  
}
/*--------------------------------
 banner
---------------------------------*/
.banner-list{
  width: 90%;
   display: block;
   margin: 0 auto 140px;
 }

 .banner-name{
   /* background-color: #f78d8d; */
   height: 380px;
   width: 90%;
   /* height: 360px; */
   padding: 0 ;
   margin: 0 auto;
 }
 .banner-info{
  /* background-color: #1aff00; */
  height: auto;
  margin-bottom: 30px;
  padding: 20px ;
 }

 .banner-name>h3{
   margin-bottom: 30px;
   text-align: center;
   font-size: 22px;
 }
 .works-bn{/* 時間スキル */
  margin-bottom: 20px;
  text-align: center;
padding: 0; 
 }
 .banner-img{
    margin: 0 auto;

 }
 .banner-sp{
  margin: 0 auto 40px;
  /* background-color: #6ad1d1; */
 }
 .works-info.bn{
  background-color: #eadbdb;
 }
 .size{
  text-align: center;
  font-size: 16px;
  padding: 0;

 }
 .link{ /* URL */
  width: 300px;
  margin: 0 auto;
}

 /* button */
 .button{
  margin: 0 auto;
  text-align: center;
 }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }



  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
    /* background-color: #a62a2a; */
  }
  .article-body img{
  margin: 50px auto;
  }
  .article-body h3 {
    font-size: 14px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 10px;
    /* background-color: red */
  }
  .article-title{
    margin-top: 30px;
  }
  .button{
    width: 300px;
    margin: 0 auto;
  }
  .g-btn{
    margin: 0 auto 50px;
    text-align: center;
  }
  #works-page{
  padding: 0 0  50px 0;
  }
}

